@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300&display=swap");

//  ******************CUTSOMIZE BOOTSTRAP******************

$primary: #2567a1;
$dark: #352d2b;
$light: #f8f2e3;

$font-family-base: "Montserrat", sans-serif;

// @import "bootstrap";
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "pagination";
@import "list-group";
@import "close";
@import "modal";
@import "utilities";

//  ****************** end of CUTSOMIZE BOOTSTRAP******************

//  ****************** MIXINS ******************

@mixin bg-cover {
  background-size: cover;
}

@mixin icon-blue {
  color: #2567a1;
  padding: 5px;
}

@mixin icon-light {
  color: #f8f2e3;
  padding: 5px;
}

//  ****************** VARIABLES ******************

$gradient-light: linear-gradient(
  to top,
  rgba(53, 45, 43, 0.7),
  100%,
  transparent
);

$gradient-blue: linear-gradient(
  to top,
  rgba(37, 102, 161, 0.3),
  100%,
  transparent
);

//  ****************** HTML AND BODY ******************

html {
  scroll-behavior: smooth;
}

body {
  background: $dark;
  color: $light;
  opacity: 0;
  transition: opacity 0.1s;
}

//  ****************** ANIMATIONS ******************

nav {
  animation: navtranslate 1s ease-in-out forwards;
  transform: translateY(-200px);
}

@keyframes navtranslate {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animation-home {
  animation: hometranslate 1s ease-in-out 1s forwards;
  transform: translateX(-1200px);
}

@keyframes hometranslate {
  0% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(0px);
  }
}

.animation-form,
.animation-buttons {
  animation: fadein 1s ease-in-out 1.5s forwards;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//  ****************** NAVIGATION ******************

.navbar-brand {
  font-size: 2rem;
  letter-spacing: 3px;
}

.navbar {
  border-bottom: #f8f2e3 1px solid;
}

//  ****************** SHOWCASE ******************

.home-section {
  background: $gradient-light, url("../img/home_web.webp");
  @include bg-cover;
  background-attachment: fixed;
  height: 100vh;

  .home-inner {
    padding-top: 120px;
  }

  .fas {
    @include icon-light;
  }
}

//  ****************** SECTIONS ******************

.create-head-section,
.connect-head-section {
  background: $gradient-blue, url("../img/water-background_web.webp");
  @include bg-cover;
  background-attachment: fixed;
  min-height: 300px;
}

.explore-head-section,
.main-footer {
  background: $gradient-light, url("../img/sand-background_web.webp");
  @include bg-cover;
  background-attachment: fixed;
  min-height: 300px;
}

#create-section,
#explore-section,
#connect-section {
  .fas {
    @include icon-blue;
  }
}

//  ****************** UTILITIES ******************

// CSS snippet for smooth scroll not to overlapp with header
#create-head-section::before,
#explore-head-section::before,
#connect-head-section::before {
  display: block;
  content: " ";
  // height of navigation
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

//  ****************** MEDIA QUERIES ******************

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .display-4 {
    font-size: 3rem;
  }
  .lead {
    font-size: 1.25rem;
  }
}
